{
    servers {
        protocols h1
    }
}

https://xuyinji.com.cn, https://www.xuyinji.com.cn {
    root * C:/Services/xuyinji
    file_server
    encode gzip
    header {
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }
    @html path /index.html /
    header @html Cache-Control "no-cache, no-store, must-revalidate"
}

https://note.xuyinji.com.cn {
    reverse_proxy /api/note/*/stream 127.0.0.1:8080 {
        transport http {
            keepalive off
        }
        flush_interval -1
    }
    @html path /index.html /
    header @html Cache-Control "no-cache, no-store, must-revalidate"
}

https://520.xuyinji.com.cn {
    root * C:/Services/520
    file_server
    encode gzip
    header {
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }
    @html path /index.html /
    header @html Cache-Control "no-cache, no-store, must-revalidate"
}
